<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение пользователя</title>
</head>
<body>
<!--<form th:method="PATCH" th:action="@{/users/update(id=${user.getId()})}" th:object="${user}">-->
<form th:method="POST" th:action="@{/users/update}" th:object="${user}">
    <input type="hidden" th:field="*{id}" />

    <label for="name">Введите имя: </label>
    <input type="text" th:field="*{name}" id="name"></input>
    <br>
    <label for="age">Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"></input>
    <br>
    <input type="submit" value="Изменить"></input>
    <a th:href="@{/users}">Назад</a>
</form>
</body>
</html>